body{
    margin:0%;
    padding :0%;
    
}
*{
    box-sizing: border-box;
}
.wrapper{
    max-width: 1170px;
    border: 1px solid black;
    padding: 0  0px ;
    margin: 0 auto;
}
.wrapper2{
    padding: 0px 10px ;
    margin: 0px 0px 0px 0px;
    border: solid 1px black;
}

.main{
    width: 100%;
    
}
.pink{
    background-color: pink;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.box{
    max-width: 100%;
    padding: 0px 0px;
    margin-bottom: 20px;
    
}
.leftbox{
    width: 30%;
    padding: 30px 0px;
    float: left;
    margin-left: 10px;
}
.rightbox{
    width: 20%;
    padding: 30px 0px;
    float: right;
    margin-right: 10px;
}
.centrebox{
    width: 30%;
    padding: 30px 0px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.centrebelow{
    width: 15%;
    padding: 10px 0px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.pink_box1{
    width: 25%;
    padding: 0px 10px;
    
    float: left;

}
.pink_box2{
    width: 70%;
    margin: 0px 5px;
    
    float: left;
}
.pink_box3{
    width: 100%;
    padding: 0px 0px;
    
    margin: 10px 0px;
}
.pink_box4{
    width: 100%;
    padding: 0px 0px;
    
    margin: 5px 0px;
}
.pink_box5{
    
    padding-top:10px;
    
    margin-top:10px ;
    margin-right: 10px;
}
.pink_box6{
    
    padding: 10px 0px;
    
    margin: 0px 0px;
}
.box1{
    width: 90%;
    padding: 12px 10px;
    
    float: left;
    background-color: grey;
    margin: 20px 10px;
}

.box2{
    width: 45%;
    padding: 25px 0px;
    
    float: left;
    background-color: grey;
    margin: 0px 10px;
}
.box3{
    width: 45%;
    padding: 10px 0px;
    
    float: right;
    background-color: grey;
    margin: 10px 0px;
}
.box4{
    width: 98%;
    padding: 30px 0px;
    
    float: left;
    background-color: grey;
    margin: 0px 10px;
}
.box5{
    width: 35%;
    padding: 10px 0px;
    
    float: left;
    background-color: grey;
    margin: 0px 10px;
}

.box6{
    width: 35%;
    padding: 25px 0px;
    
    float: left;
    background-color: grey;
    margin: 0px 10px;
}
.box7{
    width: 45%;
    padding: 10px 0px;
    
    float: left;
    background-color: grey;
    margin: 10px 25px;
}
 
.box8{
    width: 30%;
    padding: 15px;
    border: 1px black solid;
    float: left;
    background-color: pink;
    margin:0px 8px;
}
.box9{
    width: 30%;
    padding:10px;
    border: solid 1px solid;
    float: right;
    background-color:grey;
    margin: 5px 0px;
}
.upper{
    width: 100%;
    
    margin: 10px 0px;
}
.box10{
    width: 30%;
    padding: 25px;
    margin: 20px 0px;
    
    background-color: grey;
    
}
.box11{
    padding: 10px;
    
    background-color: grey;   
    
}

.box12{
    width: 78%;
    padding: 25px;
    
    float: left;
    background-color: grey;
}
.box13{
    width: 15%;
    padding: 25px;
    
    float: right;
    background-color: grey;
}
.box14{
    width: 100%;
    padding: 25px;
    
    float: left;
    background-color: grey;
}
    .box15{
        width: 35%;
        padding: 10px 0px;
        background-color: grey;

        margin: 10px 0px;
    }

    .box16{
        width: 65%;
        padding: 10px 0px;
        background-color: grey;
        float: right;
        margin: 10px 0px;
    }